html {
  font-family: 'Gill Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-bottom: 30vb;
  /* Adjust the value as needed */
}

p {
  font-size: large;
  text-align: center;
}

.hero {
  color: #fff;
  text-align: center;
  width: 100vw;
  height: 100vb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Add position relative */
}

.hero-title {
  background-color: rgba(0, 0, 0, 0.4);
  /* Dark and semi-transparent background */
  border: 4px solid black;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  height: 50%;
  min-width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeInDown 1.5s ease-out forwards, fadeInImage 1.5s ease-out forwards;
  background-image: url('/images/logo-white.png');
}

@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero p {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.5s ease-out 0.5s forwards;
}

.hero-bg {
  width: 102vw;
  height: 102vb;
  margin-left: -1vw;
  /* Added margin-left */
  position: absolute;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
}

.hero .btn {
  height: 50px;
  padding-top: 8px;
}

.advance-btn {
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  text-transform: unset;
  cursor: pointer;
  margin-top: 5vb
}

.tabs-container {
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content {
  animation: fadeIn 0.5s ease-out;
  width: 100vw;
  margin: 0;
}

.tab-content>section {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-content>section>form {
  width: 100%;
}

.tab-content>section>form>button {
  height: 15vb;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5vb;
}

.tab-content>section>img {
  width: 50%;
}

.tab-content>section>p {
  max-width: 60%;
}

/* home section handled especially */
#homepage-content {
  width: 100vw;
  padding: unset;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

section>h2:first-child {
  margin-bottom: 80px;
}

section>h2:not(:first-child) {
  margin-top: 120px;
}

/* Image Slideshow Styling */
.slideshow-container {
  width: 70%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides-wrapper {
  display: flex;
  transition: transform 1s ease;
}

.mySlides {
  flex: 0 0 100%;
  height: 60vb;
  background-size: cover;
  background-position: center;
  position: relative;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Progress Bar Styling */
.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
}

.progress-bar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 1s ease;
}

/* Materialize textarea styling */
textarea.materialize-textarea {
  min-height: 150px;
  max-height: 200px;
  /* Adjust the height as needed */
}

#working-with-us {
  width: 100%;
  height: 60vb;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: x-large;
  background-image: url('/images/pq.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#working-with-us>* {
  max-width: 60%;
}

#working-with-us>h2 {
  text-align: center;
}

/* animation to fade in from left */
.fade-slide-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

/* Add a class to trigger the animation */
.fade-slide-in.active {
  opacity: 1;
  transform: unset;
}

/* work-type container */
.work-type-container {
  display: flex;
  width: 75%;
}

.tile {
  flex: 1;
  padding: 5px;
}

.box {
  width: 100%;
  height: 60vb;
  /* Increased height to accommodate header */
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.box-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.55;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
}

.box:hover>.box-background {
  transform: scale(1.05);
  opacity: 1;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.tile>h3 {
  margin-bottom: 10px;
  font-size: x-large;
}

.quote-text {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  padding: 4%;
  text-align: center;
  transform: translateX(-50%);
  color: white;
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.box:hover .quote-text {
  opacity: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  transform: translateX(-10px);
  /* compensate for gap in grid */
  margin-top: 5vb;
  align-items: center;
}

.image-grid>figure {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid>figure>img {
  height: 75vb;
  width: 100%;
  object-fit: cover;
  border: 5px solid rgb(135, 116, 96);
}

.image-grid>figure>figcaption {
  text-align: center;
}

#gallery-tab>section>h2:not(:first-child) {
  padding-top: 10vb;
  border-top: 1px solid grey;
  margin-top: 10vb;
}

/* cookies */
.cookie-consent-container {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 300px;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  /* Fade in transition */
  flex-direction: column;
  align-items: center;
}

.cookie-consent-container p {
  margin: 0;
  font-size: 14px;
}

.cookie-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.cookie-consent-btn {
  /* Rounded button */
  width: 45%;
  height: 50px;
  /* Center button */
}

.cookie-consent-container.show {
  opacity: 1;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 120px;
}

/* mobile */

@media only screen and (max-width: 600px) {

  p {
    font-size: medium;
  }

  .hero-title {
    background-color: unset;
    border: unset;
    width: 100%;
    height: 60%;
    color: black;
  }

  .hero-logo {
    background-image: url('/images/logo.png');
  }

  section>h2:not(:first-child) {
    margin-top: 80px;
  }

  #homepage-content>*:not(#working-with-us) {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .slideshow-container {
    width: 95%;
  }

  .tab-content>section>p {
    max-width: 80%;
  }

  #working-with-us {
    margin-top: 60px;
  }

  .work-type-container {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .work-type-container>.tile>.box.active>.box-background {
    transform: scale(1.05);
    opacity: 1;
  }

  #working-with-us {
    font-size: large;
  }

  #working-with-us>* {
    max-width: 95%;
  }

  .advance-btn {
    height: 100px;
    width: 80%;
    font-size: large;
  }

  .tab-content>section {
    width: 90%;
    transform: unset;
  }

  .tab-content>section>img {
    width: 100%;
  }

  .image-grid {
    grid-template-columns: repeat(1, 100%);
    min-width: 100%;
    /* not sure why this margin is necessary: */
    margin-left: 17.5px;
    gap: 10px;
  }

  .cookie-consent-container {
    position: fixed;
    top: 2vw;
    left: 2vw;
    width: 96vw;
    bottom: unset;
    max-width: unset;
    background-color: white;
  }
}